name: publish Node.js Package
on:
  release:
    types: [published]
jobs:
  Build-and-Publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com
          cache: yarn

      - run: |
          yarn install --frozen-lockfile
      - run: |
          npm config set always-auth true
          npm config set registry https:${REGISTRY}
          npm config set ${REGISTRY}:_authToken ${{ secrets.MY_GET_TOKEN }}
          npm config set @deland-labs:registry https:${REGISTRY}
        env: 
          REGISTRY: //www.myget.org/F/ic-feed/npm/
      - run: | 
          Version=$(git describe --tags --abbrev=0)
          yarn publish --frozen-lockfile --non-interactive --no-git-tag-version --no-commit-hooks --new-version ${Version}
